/*  your css code here. If applicable */
.main{
	background-color:#f5f5f5;
	padding:25px;
	width:770px;
}
.para1{
	position:relative;
	background-color : white;
	border:1px solid gray;
	padding:0px 20px 20px;
    width:720px;
}
.para2{
	position:relative;
	background-color : white;
	border:1px solid gray;
	margin-top:20px;
	padding:0px 20px 20px;
    width:720px;
}